* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
  list-style: none;
}

.main {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.main > * {
  height: 100vh;
}

.nav-container {
  border-right: 1px dashed #eee;
  flex: 0 0 2rem;
}

nav, .nav-list {
  height: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-list li:first-child {
  margin-top: auto;
}

.nav-list li:last-child {
  margin-top: auto;
}

.nav-list li {
  list-style: none;
  width: 2rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

li a {
  text-decoration: none;
  color: black;
}

li:nth-child(1) a {
  color: #E6254A;
}

li:nth-child(2) a {
  color: #25CCF1;
}

li:nth-child(3) a {
  color: #EEC310;
}

li:nth-child(4) a {
  color: #FC3934;
}

li:nth-child(5) a {
  color: #312DFB;
}

li:nth-child(6) a {
  color: #FF9A37;
}

li:nth-child(7) a {
  color: #FB776D;
}

/* posts */ 
.posts-container {
  flex: 3 3 75%;
  background-color: #FAFBFD;
}

.top-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px dashed #eee;
  background-color: white;
}

.top-nav-list li a {
  color: black;
}

.top-nav-list input {
  appearance: none;
  border: none;
  background-color: #F6F9FE;
  padding: 0.4rem;
  border-radius: 0.2rem;
}

/* profile */
.profile-container {
  border-left: 1px dashed #eee;
  flex: 1 1 25%;
}
