* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #181E28;
  --color-secondar: #E0E6E6;
}

body {
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

.container {
  width: 80vw;
  margin-inline: auto;
}

/* head */

.nav-list {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
}

.menu-item {
  display: none;
}

@media (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }
  .menu-item {
    display: block;
  }

  .menu-item a {
    text-decoration: none;
    color: var(--color-primary);
  }
}

.nav-list li:last-child {
  margin-left: auto;
}

.logo {
  width: 2rem;
  height: 1rem;
  border: 1px solid lightpink;
}

.menu {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid gray;
  padding: 0.3rem;
}

.menu img {
  width: 100%;
}

/* hero */

.hero {
  margin: 1rem 0;
}

.hero h1 {
  font-weight: 400;
}

.buttons {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 800px) {
  .hero-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .categories {
    margin-left: auto;
  }

  .buttons {
    justify-content: flex-start;
    gap: 0.5rem;
  }
}

button {
  border-radius: 2rem;
  appearance: none;
  padding: 1rem 2rem;
  border: none;
  text-transform: capitalize;
  font-weight: 700;;
}

.button-primary {
  background-color: var(--color-primary);
  color: white;
}

.button-secondary {
  background-color: var(--color-secondar);
  color:black;
}

.categories {
  margin: 3rem 0;
  font-size: 12px;
}

.categories span {
  padding-right: 1rem;
  text-transform: uppercase;
  color: #484D55;
}

.categories span:last-child {
  padding-right: 0;
}

/* details */

.author {
  position: relative;
}

.details {
  padding: 2rem 10% 6rem 10%;
  background-color: var(--color-primary);
  color: white;
}

.details button {
  width: 100%;
  margin: 2rem 0;
}

.details h2 {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.details p {
  font-weight: 200;
  line-height: 1.5;
}

.info {
  display: flex;
}

.info div:last-child {
  margin-left: 1rem;
}

.info .avatar {
  width: 2rem;
  height: 2rem;
}

.avatar img {
  width: 100%;
  border-radius: 2rem;
}

.image-container {
  width: 80%;
  position: absolute;
  top: 90%;
}

.image-container img {
  width: 100%;
}

@media (min-width: 800px) {
  .details {
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem 10%;
  }

  .details article {
    flex: 1;
  }

  .image-container {
    top: 10%;
  }
}