* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #E9EBF2;
}

li {
    list-style: none;
}

/* navigation */

nav {
    width: 800px;
    margin: 0 auto;
    /* background-color: beige; */
}

.nav-list {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.list-item:last-child {
    margin-left: auto;
}

.list-item:first-child {
    margin-right: 60px;
}

.list-item a {
    padding: 0 8px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
}

.button-primary {
    appearance: none;
    border: 1px solid blue;
    padding: 4px 16px;
    border-radius: 16px;
}

.logo {
    font-weight: bold;
}

.highlight {
    color: blue;
}

/* hero */

.hero-section {
    width: 800px;
    margin: 2rem auto;
    display: flex;
    align-items: center;
}

.hero-section > section {
    flex: 1;
}

.game-cover {
    width: 400px;
    height: 260px;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.game-cover img {
    position: absolute;
    width: 100%;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

.media .title {
    position: absolute;
    bottom: 16px;
    left: 16px;

    color: white;
    font-size: 14px;
    font-weight: lighter;
}

.media span.rating {
    margin-left: 8px;
}

.brief p {
    font-weight: lighter;
    margin: 16px 0;
}

.button-secondary {
    appearance: none;
    padding: 8px 16px;
    border-radius: 16px;
    border: none;
    background-color: blue;
    color: white;
}

/* latest news */
.latest-news {
    width: 800px;
    margin: 2rem auto;
}

.latest-news h4 {
    margin: 1rem 0;
}

.news-container {
    display: flex;
    gap: 2rem;
}

.news {
    flex: 1;
    display: flex;
    flex-direction: column;

    height: 10rem;
    width: 10rem;
}

.news img {
    border-radius: 1rem;
}

.news p {
    padding: 0.5rem 0;
    font-size: 14px;
    font-weight: lighter;
}