/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global */
:root {
  --color-background: #EFEFF3;
  --color-primary :#4A43EB;
  --color-font: #1B1C23;
  --color-font-secondary: #6B6A6C;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  /* background-color: var(--color-background); */
}

li {
  list-style: none;
}

nav {
  width: 80%;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.list-item:last-child {
  margin-left: auto;
}

.list-item:first-child {
  margin-right: 2rem;
}

.list-item a {
  padding: 0 8px;
  text-decoration: none;
  color: black;
  font-weight: lighter;
  white-space: nowrap;
}

.button-primary {
  appearance: none;
  border: 1px solid blue;
  padding: 4px 16px;
  border-radius: 16px;
}

.logo {
  font-weight: bold;
}

.highlight {
  color: blue;
}

/* navigation */
/* 
nav {
  width: 80%;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.list-item:last-child {
  margin-left: auto;
}

.list-item:first-child {
  margin-right: 60px;
}

.list-item a {
  padding: 0 8px;
  text-decoration: none;
  color: var(--color-font);
  font-weight: lighter;
  white-space: nowrap;
}

.button-primary {
  appearance: none;
  border: 1px solid var(--color-primary);
  padding: 4px 16px;
  border-radius: 16px;
}

.logo {
  font-weight: bold;
}

.highlight {
  color: var(--color-primary);
}

*/

/* hero */

.hero-section {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
}

.hero-section>section {
  flex: 1;
}

.game-cover img {
  width: 100%;
  border-radius: 2rem;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

.brief p {
  font-weight: lighter;
  margin: 16px 0;
}

.button-secondary {
  appearance: none;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  background-color: #4A43EB;
  color: white;
}

.game-cover {
  position: relative;
}

.media .title {
  position: absolute;
  bottom: 16px;
  left: 16px;

  color: white;
  font-size: 14px;
  font-weight: lighter;
}

.media span.rating {
  margin-left: 8px;
}

/*
.hero-section {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
}

.hero-section>section {
  flex: 1;
}

.game-cover {
  width: 400px;
  height: 260px;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.game-cover img {
  position: absolute;
  width: 100%;
}

.media .title {
  position: absolute;
  bottom: 16px;
  left: 16px;

  color: white;
  font-size: 14px;
  font-weight: lighter;
}

.media span.rating {
  margin-left: 8px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

.brief p {
  font-weight: lighter;
  margin: 16px 0;
}

.button-secondary {
  appearance: none;
  padding: 8px 16px;
  border-radius: 16px;
  border: none;
  background-color: var(--color-primary);
  color: white;
}

*/

/* latest news */

.latest-news {
  width: 80%;
  margin: 1rem auto;
}

.news-container {
  display: flex;
  gap: 2rem;
}

.news {
  flex: 1;
}

.news img {
  width: 100%;
  border-radius: 1rem;
}

.news p {
  font-size: 14px;
  font-weight: lighter;
}

h4 {
  margin: 1rem 0;
}

/* .latest-news {
  width: 800px;
  margin: 1rem auto;
}

.news-container {
  display: flex;
  gap: 2rem;
}

.news {
  flex: 1;
}

.news img {
  width: 100%;
  border-radius: 1rem;
}

.news p {
  font-size: 14px;
  font-weight: lighter;
}

h4 {
  margin: 1rem 0;
} */

/* control */
.control {
  margin: 3rem auto 0 auto;
  width: 800px;
  text-align: center;
  font-size: 14px;
  color: var(--color-font-secondary);
}

.control button {
  width: 2rem;
  height: 2rem;
  margin-top: 0.5rem;
  border-radius: 100%;
  border: 1px solid var(--color-font-secondary);
}

button img {
  width: 100%;
  margin-top: 0.1rem;
}