* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  width: 800px;
  margin: 0 auto;
  background-color: beige;
  padding: 6px 16px;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li {
  list-style: none;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.list-item:last-child {
  margin-left: auto;
}

.list-item:first-child {
  margin-right: 80px;
}

.list-item a {
  padding: 4px 16px;
  text-decoration: none;
  color: #1B1C23;
  font-weight: lighter;
}

.highlight {
  color: #4A43EB;
}

.button-primary {
  appearance: none;
  padding: 4px 16px;
  background-color: #EDEDF4;
  border: 1px solid #4A43EB;
  border-radius: 16px;
  font-weight: lighter;
  color: #4A494B;
}